@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: linear-gradient(to right, #5f2c82, #49a09d);

  color: #333;
  font-family: "Nunito";
}

a {
  color: white;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.active {
  border-bottom: 2px solid blue;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white;
}

input {
  color: black;
}

button {
  background-color: #ffcc66;
  border-radius: 4px;
  border-width: 1px;
}

.date-picker-container {
  display: flex;
}

.activityLevel {
  background-color: white;
  color: black;
}

.calculator {
  text-align: center;
}

.activeLink {
  border: 2px solid black;
}

.tab-headers {
  display: flex;
  gap: 16px;
  /* set the gap between buttons */
}

.tab-headers button {
  padding: 8px;
  /* add some padding to the buttons */
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tab-headers button:hover {
  background-color: #ddd;
}