.body {
    background-image: linear-gradient(90deg, #D4380D 0%, #E57622 33%, #F2B23E 66%, #FFE277 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);

}